html, body {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFFAFA;
    font-family: "Century Gothic", sans-serif;
    line-height: 1.5;
    color: #797979;
    letter-spacing: 0.03em;
    font-size: 16px;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.clearfix::after {
    content:"";
    display: block;
    clear: both;
}

a {
    color: #797979;
    text-decoration: none;
}

h1 {
    color: #545454;
    text-align: center; 
    padding-top: 10px;
    margin-bottom: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.03em;

}

h2 {
    color: #6E6E6E;
    text-align: center; 
    font-weight: lighter;
    font-size: 1.2em;
    
}

h3 {
    color: #6E6E6E;
    text-align: center; 
    padding-top: 2px;
    font-weight: lighter;
    
}

h1, h2, h3 {
    background-color: #FFFAFA;
    
}
/*---Navigation---*/

.header-nav {
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 2px solid #797979;
    position: relative;
    font-size: 1.1rem;
}

.header-nav a > img {
    height: 80%;
    width: auto;
    float: left;
    margin: 0.6rem; 
}

.active {
    color: #e8cabc;
}

.header-nav  ul {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
    position: sticky;
}

.header-nav ul > li {
    display: inline-block;
    height: 100%;
    padding-top: 0.55rem;
    
}

.header-nav .container,
.header-nav .row,
.header-nav .col-4 {

    height: 100%;
}

.header-nav .col-4 {
    padding-top: 0;
    padding-bottom: 0;
}

/*---DROPDOWN-MENU*/

.mobile-nav-button {
    color:  #797979;
    float: right;
    font-size: 2rem;
    border: 2px solid  #797979;
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 0.3rem;
    margin-bottom: 10px;

}
.mobile-nav-button > span {
    position: absolute;
    bottom: -7px;
    left: 6px;
}

.mobile-nav-content > ul >li {
    display: block;
    background-color: #D8C4B2;
    height: 50px;
    padding: 0 1.2rem;
    text-align: center;
}

.mobile-nav-dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.mobile-nav-content {
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
}

.mobile-nav-dropdown:hover > .mobile-nav-content {
    display: block;
}

.mobile-nav {
    display: none;
}

.desktop-nav {
    position: sticky;
}



/*---LINKS---*/

.visited {
    color: #e8cabc;
}

 a:link {

    text-decoration: none;
    color: #797979;
}

 a:visited {

    text-decoration: none;
    
    
}

a:hover {

    color: #e8cabc;
    
}

a:active {

    color: #e8cabc;
    text-decoration: none;
}

/*--- GRID-SYSTEM ---*/

.container-main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.row::after {
content: "";
clear: both;
display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;

}

.col-1 {
    width: 35%;
    height: auto;
    padding-top: 2em;
    padding-right: 2em;
}

.col-2 {
    width: 65%;
    height: auto;
    padding-top: 2em;
    text-align: center; 

}

.col-3 {
    width: 50%;
    height: auto;
    padding-top: 2em;
    text-align: center; 
}

.col-4 {
    width: 100%;

}

/*---FOLLOW-SEITE*/

#heart-button {

        border: 0 none;
        color: white;
        background-color: ;
        font-size: .875rem;
        height: auto;
        padding: 8px;
        width: auto;
        cursor: pointer;
    
}

#userIcon {
    
    width: 5rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 2rem;
}

.userDiv {

    text-align: center;
}

/*---HAUPTSEITE-BODY*/

.new-comment {
    color: #e8cabc;
    border-right: 2px solid #e9e9e9;
    text-transform: uppercase;
    padding: 3px;
    height: auto;
    width: auto;
    background-size: 12px;
    text-align: center;
    margin: 4px;
    
}

.new-comment > input {
    color: #797979;
    border-color: #e8cabc;
    width: 70%;
    height: 70px;
    margin: 16px;
    
    
}

.create-text {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    height: 100px;


}

#postButton {
    
}

.comments {

    text-transform: uppercase;
    text-align: center;
}

textarea {
    margin: 0px; 
    width: 266px; 
    height: 116px;
    resize: none;
}

#writeComment {
    
}

.add, #topping-choice-juice, #topping-choice-muesli {
    background-color: #DCDCDC;
    width: 80%;

}


.add-icon, .reduce-icon, .count {
    font-family: inherit;
    font-style: normal;
    vertical-align: bottom;
    color: rgba(84,84,84,0.55);
    font-size: 20px;
    line-height: 1.5em;
}

 #order {
    text-align: center;
    height: auto;
}



.size {
    color: rgba(84,84,84,0.55);
    width: 40%;
    height: 30%;
    font-size: 2rem;
}

.amount {
    border: 1px solid #d8d7d4;
    display: inline;
}

.amount-count {
    display: inline-block;
    width: 20px;
    padding: 0;
    font-size: 1em;
    text-align: center;
    letter-spacing: normal;
    background: transparent;
    border: none;
}
/*---PROFIL-BODY / LOGIN-BODY / CREATE-BODY---*/

input:required:invalid {
    border: thick solid#e0aca0;
}

label {
    text-transform: uppercase;
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
}


#login-bereich, #register-bereich {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #F8F8F7;
        text-align: center;
        margin-top: 5rem;
 }

 #kontakt-bereich2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8F8F7;
    text-align: center;
    margin-top: 5rem;
}

.mail {
        color: #bebee4;
}


.input-form{
        box-sizing: border-box;
        border: none;
        width: 100%; 
        letter-spacing: 1.5px;
        height: 45;
        font-size: .8125rem;
        display: block;
        padding: 8px 20px;
        margin: 0 0 9px;
        text-align: center;
}

button {
    border: 0 none;
    color: white;
    background-color: #e8cabc;
    font-size: .875rem;
    height: 50px;
    letter-spacing: 1.5px;
    padding: 8px;
    width: 100%;
    font-family: inherit;
}




p.small {
    font-size: 12px;
    margin-top: 12px;
}
.small > a {
    color: #e0aca0;
}

/*---FOLLOWER-BODY---*/


/*---Allgemein---*/

ol,ul {
    list-style: none;
    text-align: center;
}

div h3 {
    width: 100%; 
    letter-spacing: 1.5px;
    height: 45;
    font-size: .8125rem;
    display: block;
    margin: 0 0 9px;
    text-transform: uppercase;
}


ul > li {
    list-style: none;
    font-size: 1.0rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin: auto;
    padding: 0;
    
}

ul, ol {
    padding: 0;
    margin-top: 0;
}

p {
    padding: 2px;
}


/*---BODY-FOOTER---*/


#footer {
    color: #868686;
    background-color: #f4e7e2;
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    margin: 0 auto 30px;
    padding: 1em 0 1.7em 0em;
    border-top: 4px solid #e8cec4;
    
}

#footer li {

    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    padding-right: 2px;
    
}

.icon-bottom {
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 2rem;
    
}

/*---MEDIA QUERIES---*/

@media (max-width: 820px) {

    .col-1 {
        width: 50%;
    }

    #video-bereich video {
        width: 55%;
    }
    #image-bereich,#image-bereich2 image {
        width: 55%;
    }

    .icon-bottom {
        width: 20%;
    }

    #footer  li {
        font-size: 90%;
    }
}

@media (max-width: 620px) {
    
    .col-2 {
        width: 100%;
    }

    #video-bereich video {
        width: 75%;
    }
    #image-bereich,#image-bereich2 image {
        width: 75%;
    }
    .icon-bottom {
        width: 20%;
    }

    #footer  li {
        font-size: 80%;
    }
    
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }


}

@media (max-width: 420px) {

    .col-1 {
        width: 100%;
        height: auto;
    }

    .col-2 {
        width: 100%;
        height: auto;
    }

    #video-bereich video {
        width: 90%;
    }
    #image-bereich,#image-bereich2 image {
        width: 90%;
    }
    .icon-bottom {
        width: 15%;
    }
    #footer  li {
        font-size: 90%;
    }

    nav {
        display: block;
    }

    h1 {
        font-size: 90%;
    }

    h2 {
        font-size: 90%;
    }

    h3 {
        font-size: 90%;
    }

    body {
        font-size: 90%;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}

@media (max-width: 320px) {

    h1 {
        font-size: 90%;
    }

    h2 {
        font-size: 90%;
    }

    h3 {
        font-size: 90%;
    }

    body {
        font-size: 90%;
    }

    .col-1 {
        width: 100%;
        height: auto;
    }

    .col-2 {
        width: 100%;
        height: auto;
    }

    #video-bereich video {
        width: 90%;
    }
    #image-bereich,#image-bereich2 image {
        width: 90%;
    }
    .icon-bottom {
        width: 15%;
    }
    #footer  li {
        font-size: 90%;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}